* {
    /*outline: 1px green solid;*/
    padding:1rem;
  font-family: sans-serif;
    }

    
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #c5eafa;
    }
    
    .calculator-body {
        border-radius: 2em ;
    background-color: #c5eafa;
    max-width: 350px;
    max-height: 650px;
    
    }
    
    
    .display {
        border-radius: 1em;
        text-align: end;
        

background: #b8dbea;
box-shadow: inset 13px 13px 26px #a9c9d7,
            inset -13px -13px 26px #c7edfd;
    }
    
    .display > *{
        font-size: 36px;
      font-family: sans-serif;
    }
    
    .key-row {
        display: flex;
        justify-content: space-between;
        gap: .5rem;
    }
    .key-row .operator-key{
        flex: 1;
      border-radius: 4rem;
      font-size:18px;
      border-style:none;
background: linear-gradient(145deg, #c5eafa, #a6c5d3);
box-shadow:  13px 13px 26px #a0bfcc,
             -13px -13px 26px #d0f7ff;
        
    }
    
    .number-row {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }
    
    .number-row > * {
        font-size: 18px ;
        flex: 1;
        height: 50px;
      width: 50px;
        border-radius:50%;
        border-style: none;
      border-radius: 50%;
   background: linear-gradient(145deg, #c5eafa, #a6c5d3);
box-shadow:  13px 13px 26px #a0bfcc,
             -13px -13px 26px #d0f7ff;
    }